@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-grandstander), Arial, Helvetica, sans-serif;
}

.risque-regular {
  font-family: var(--font-risque), serif;
}
